PRIVATE_KEY=
RPC_URL=http://127.0.0.1:8545
ETHERSCAN_API_KEY=
ADMIN_TEST=
ADMIN_PASS_TEST=
CONTRACTADDR_TEST=
OPERATIONSADDR_TEST=
TEST_CONTRACTADDR=
ESCROWFACTORYCONTRACT_TEST=
NFTCONTRACTADDR_TEST=
RELAY_GASLESS_API_KEY_TEST=
RELAY_GASLESS_API_SECRET_TEST=
PORT=3000
